.fbackground {
  background-image: url("/images/front.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.no-space {
  margin: 0vh;
  padding: 0vh;
  font-weight: bold; }

.frontpage {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  height: 100vh;
  overflow: auto; }

.space {
  margin: 3%;
  padding: 2%; }

.dlist {
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 20px; }

/*
// for mobile //
@media (max-width: 500px) {
  .fbackground {
    background-image: url("/images/logo.png");
  }
}
*/
